.layout_container {
  height: 100%;

  .ant-layout {
    height: 100%;

    .ant-layout-header {
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding: 0;

      >div:nth-child(1) {
        display: flex;
        align-items: center;
      }

      >div:nth-child(2) {
        padding-right: 10px;
        display: flex;
        justify-content: end;
        align-items: center;

        .icon {
          margin: 0 10px;
          cursor: pointer;
          transition: all 0.5s ease;
        }

        >.icon:nth-child(2) {
          font-size: 18px;
        }

        .icon:hover {
          transform: scale(1.2);
        }

        .ant-dropdown-trigger {
          display: flex;
          align-items: center;

          img {
            width: 22px;
            height: 22px;
            margin: 0 5px;
            border-radius: 50%;
            line-height: 40px;
            cursor: pointer;
          }

          span {
            cursor: pointer;
            font-size: 14px;
            margin-left: 2px;
          }

          .anticon {
            margin-left: 4px;
            vertical-align: -0.1rem;
            font-size: 12px;
          }
        }
      }
    }

    .content_box {
      height: 100%;
      padding: 15px !important;
      background-color: #f4f4f4;
      overflow: overlay;

      .ant-layout-content {
        height: 100%;
        padding: 0 !important;
        margin: 0 !important;
      }
    }

    .tabs {
      height: 34px;
      background-color: #000;
    }

    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      background-color: #2f2e52;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        height: 50px;
        background-color: #2f2e52;
        flex-shrink: 0;
        color: #fff;
      }

      .menu_box {
        background-color: #2f2e52;
        overflow-y: overlay !important;

        .ant-menu {
          background-color: #2f2e52;

          .ant-menu-submenu-title {
            color: #fff;
          }

          li {
            color: #fff;
            width: 100% !important;
            margin: 0;
            border-radius: 0;
            font-size: 14px;

            i {
              font-size: 16px;
            }
          }
        }

        .ant-menu-item {
          background-color: #2f2e52;
        }

        .ant-menu-item-active,
        .ant-menu-item-selected {
          background-color: #2e2e2e70;
          color: #409eff !important;
        }
      }
    }

    .ant-layout-header {
      display: flex;
      align-items: center;
      height: 50px;
      line-height: 50px;
      background-color: #2f2e52 !important;

      .ant-btn {
        width: 30px !important;
        height: 30px !important;

        .ant-btn-icon {
          color: #ccc;
        }
      }

      .ant-breadcrumb {
        margin-left: 10px;

        li {
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
}

.header-dropdown {
  padding: 0 !important;

  .ant-dropdown-menu {
    padding: 0;

    .ant-dropdown-menu-item {
      font-weight: 100 !important;
      font-size: 14px !important;
      border-radius: 0;
    }

    >.ant-dropdown-menu-item:nth-child(4) {
      border-top: 1px solid #ccc;
      border-radius: 0;
    }

    .ant-dropdown-menu-item-active {
      background-color: #eaf5ff !important;
      color: #40a0ff !important;
    }
  }
}