.layout_container {
    .ant-layout {
        height: 100vh;
        .ant-layout-sider-children,
        .ant-menu {
            background-color: rgb(33, 48, 76);

            .ant-menu-submenu-title,
            .ant-menu-title-content,
            .ant-menu-item-icon {
                color: #fff;
            }
                .ant-menu-item-selected {
                background-color: #0085fe!important;
                    .ant-menu-title-content {
                        color: #fff;
                    }
                }

            .logo {
                background-color: #232f44;
                color: #fff;
                height: 64px;
                display: flex;
                align-items: center;
                padding-left: 16px;
                border-bottom: 1px solid #222;

                span {
                    margin-left: 12px;
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

        Header {
            border-bottom: 1px solid  #222;
            background-color: #21304c !important;
            display: flex;
            justify-content: flex-end;
            color: #fff;

            span {
                margin: 0 10px;
            }

            span:nth-child(3) {
                margin-right: 30px;
                cursor: pointer;

            }
        }
        .ant-layout-footer{
            border-top: 1px solid #222;
            color: #fff;
            background-color: #232f44;
        }
    }

    .ant-layout-content {
        padding: 24px 26px 0;
        background-color: #232f44;
    }

}