.user_container {
  position: relative;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;

  .SplitPane {
    display: flex;
  }

  .Pane1 {
    min-width: 400px;
    border: 1px solid #E4E7ED;
    border-radius: 5px;
    background-color: #fff;

    .search_box {
      height: 60px;
      padding: 10px;
      border-bottom: 1px solid #E4E7ED;

      .ant-input {
        height: 40px;
      }

    }

    .ant-tree {
      border-radius: 0;
    }
  }

  .Pane2 {
    border: 1px solid #E4E7ED;
    border-radius: 5px;
    background-color: #fff;
    min-width: 1100px;

    >div {
      >div:nth-child(1) {
        height: 60px;
        border-bottom: 1px solid #E4E7ED;
        align-items: center;
        padding: 10px;

        .ant-select,
        .ant-select-selector {
          width: 100px;
          height: 40px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .ant-select-selector {
          border-right: 0;


        }

        .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
        .ant-select:not(.ant-select-disabled):focus,
        .ant-select-focused .ant-select-selector {
          border-color: #D9D9D9 !important;
          /* 或设置你想要的颜色 */
          box-shadow: none !important;
        }


        .ant-input {
          width: 200px;
          height: 40px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .ant-btn {
          margin-left: 20px;
          height: 40px;
          width: 80px;
        }
      }

      >div:nth-child(2) {
        padding: 10px;

        .ant-btn {
          height: 40px;
          margin-bottom: 20px;
        }

        >.ant-btn:nth-child(1) {
          margin-right: 14px;
        }
      }
    }


  }

  .Resizer {
    position: relative;
    width: 0;
    background: #F4F4F4;
    z-index: 1;
    cursor: col-resize;
    border-left: 5px solid #F4F4F4;
    border-right: 5px solid #F4F4F4;
  }

  .Resizer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 35px;
    width: 1px;
    background-color: #00000050;
  }

  .Resizer::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    height: 35px;
    width: 1px;
    background-color: #00000050;
  }
}